vosk-model-en-us-0.22/
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# Virtual environments
venv/
.env/
env/
*.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Rasa specific
.rasa/
models/
*.db

# Misc
*.pyd
*.so
*.bak
